body {
	margin: 0 auto;
	font-family: "Arial", sans-serif;
	background: #f7f7f7;
}

/* Header */
header {
	display: block;
	min-height: 50px;
	background-color: #273c5b;
	margin-bottom: 100px;
	display: flex;
}


/* Header: Service Name or Logo */
header h1 {
	text-align: left;
	font-size: 2em;
	color: white;
	line-height: 50px;
	margin: 0 auto;
}

nav#main_nav ul {
	margin: 5px 0px 0px 15px;
	padding: 0;

}

li {
	list-style-type: none;
}

#content {
	min-height: 800px;
	display: flex;
	flex-flow: row;
}

#content > main {
	flex: 3 1 40%;
	order: 2;
	background: #f7f7f7;

}

#content > #leftflank {
	flex: 1 6 20%;
	order: 1;
	background: #f7f7f7;
}

#content > #rightflank {
	flex: 1 6 20%;
	order: 3;
	background: #f7f7f7;
}


/* Catalog: Offers or Products in the Main section (thumbs)*/

.catalog {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

ul.catalog li {
	flex: 0 0 0;
	min-width: 150px;


	display: inline-block;
}

a {
	color: #365899;
	text-decoration: none;
	/*#9E9E9E;*/
}

div.store_thumb {
	margin: 10px 10px 5px 10px;
	font-size: 16px;
	vertical-align: top;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	background-color: white;
}

.store_thumb img {
	max-width: 100%;
}

@media all and (max-width: 768px) {
	#content, #page {
		flex-direction: column;
	}



	#content > main, #content > nav, #content > aside {
	/* Return them to document order */
		order: 0;
	}
  

	#content > #leftflank, #content > #rightflank{
		min-height: 50px;
		max-height: 50px;
	}	

	ul.catalog {
		flex-direction: row;
	}

	ul.catalog li {
		width: 10em;
		font-size: 12px;
	}

	header {
		margin-bottom: 50px;
	}

}