body {
	margin: 0;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.6;
	color: #555;
	background: #f7f7f7;

}

header {
	height: 50px;
	background-color: #273c5b;
	font-family: Arial;
	position: fixed;
	display: flex;
	width:100%;
}

header h1 {
	text-align: left;
	margin: 0px 0px 0px 20px;
	font-size: 2em;
	color: white;
	font-family: Josefin Slab;
	line-height: 40px;
}




#main_nav > ul {

    padding: 0;
    margin: 0;
    display: block;
}

#main_nav > ul > li a img{
	margin-top: 5px;
	margin-left: 15px;
}

#main_nav > ul a {
	text-decoration: none;
	color: beige;
}

#main_nav > ul > li > ul {


    position: absolute;
    display: none;
}

#main_nav > ul > li > ul > li {
	list-style-type: none;
	display: block;
}

#main_nav > ul > li > ul  a {
	color: black;
}


#main_nav > ul > li:hover > ul {
    display: block;
}

#main_nav > ul > li {
    display: inline;
    position: relative;
}

#headlessbody {
	min-height: 100%;
	display: flex;
	flex-flow: row;
}

#headlessbody > main {
	flex: 3 1 40%;
	order: 2;
	background: #f7f7f7;
	margin-top: 100px;
	/*padding-top: 15px;*/
}

#headlessbody > #leftflank {
	flex: 1 6 20%;
	order: 1;
	background: #f7f7f7;

}

#headlessbody > #rightflank {
	flex: 1 6 20%;
	order: 3;
	background: #f7f7f7;

}

img.error {
	width: 80%;
	margin: 0 auto;
	display: block;
}

ul.catalog {
	list-style: none;
	font-size: 16px;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
}

ul.catalog li {
	width: 30%;
	display: inline-block;
	background: #fff;
	/*border: 1px solid #ddd;*/
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	margin: 10px;
	box-shadow: 0 0 10px #ddd;
/*	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;*/
}

ul.catalog li img {
	max-width: 70%;
	height: auto;
	margin-top: 0px;
	display: inline-block;
}
}


.error {
	color: red;
}


@media all and (max-width: 768px) {
	#headlessbody, #page {
		flex-direction: column;
	}

	ul.catalog li {
		width: 100%;
		height: 4%;
	}

	ul.catalog li img {
		width: 30%;
		float: left;
	}


/*	#headlessbody {
		padding: 0px;
	}*/

	header {
		flex: 1 6 20%;
	}

	#headlessbody > #leftflank {
		flex: 1 6 20%;
	}

	main {
		flex: 3 1 20%;

	}

	#headlessbody > #rightflank {
		flex: 1 6 20%;
	}

	#headlessbody > #leftflank, #headlessbody > #rightflank {
		min-height: 30px;
		max-height: 30px;
	}

	header > h1 {
		font-size: 21pt;
	}
}