{% extends "base.html" %}

	{% block core %}
			{% block warehouse %}
				<ul class="catalog">
					{% for product in categories %}
						<li>
							<div class="store_thumb">
							<a href={{product[0].decode('utf-8')}}>
								<img src="/static/images/product.jpg">
							</a>
							</div>
							<a href={{product[0].decode('utf-8')}}>
								<h4>{{product[1].decode('utf-8')}}</h4>
							</a>
						</li>
					{% endfor %}
				</ul>	
			{% endblock %}

			{% block product %}
			{% endblock %}
	{% endblock %}